<%- include ('../partials/header') %> 

<div class="container uk-text-center">
    <h1>Oops! Une erreur est survenue.</h1>
    <p>Erreur 404 : La ressource demandée n'a pas été trouvée.</p>
</div>

<%- include ('../partials/footer') %> 