<%- include ('../partials/header') %> 

<div class="container uk-text-center">
    <h1>Oops! Une erreur est survenue.</h1>
    <p>Erreur <%= code %> : <%= message %>.</p>
</div>

<%- include ('../partials/footer') %> 